.modal-window {
    background-color: var(--app-second-color);
    border: none;
    color: #FFF;
    padding: 20px 40px;
    border-radius: 14px;
    border: 1px solid #FFF;
}
.modal-window::backdrop {
    background-color: rgba(20, 20, 20, 0.5);
}
.modal-window-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    width: 100%;
    border-color: #FFF;
    border-width: 0px 0px 1px 0px;
    margin-bottom: 10px;
}